[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
createdb = "python createdb.py"
start-dev = "flask run --host=0.0.0.0"
